a {
    text-decoration: none
}

.page-header--middle .signin-up-box {
    border: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
}

.page-header--middle .signin-up-box a {
    color: #080a38;
}

.field-validation-error{
    color:red;
}


