.trash-btn{
    width:30px;
    height:30px;
}

.field-validation-error {
    color: red
}

.image-gallery1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.image-container1 {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    max-width: 100%;
}

.img1 {
    width: 200px;
}



.display-flex{
    display:flex!important
}

.flex-justify-content-start{
    justify-content:flex-start!important
}
.flex-justify-content-end {
    justify-content: flex-start!important
}