@model IEnumerable<EShop.Application.ViewModels.Product.Category.ProductCategroyViewModel>

<div class="page-header--bottom">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="vertical-menu">
                <a href="#" class="vertical-menu-btn">دسته بندی کالاها <i class="ri-apps-fill icon"></i></a>
                <div class="vertical-menu-items">
                    <ul>
                        @{
                            foreach(var pg in Model)
                            {
                                if(pg.ParentId == null)
                                {
                                    <li class="mega-menu-category">
                                        <a href="/category/@pg.Id">@pg.CategoryTitle</a>

                                        <ul class="mega-menu">
                                              
                                            @foreach(var subpg in Model)
                                            {
                                                if (subpg.ParentId == pg.Id)
                                                {
                                                    
                                                    <li class="parent"><a href="/category/@subpg.Id">@subpg.CategoryTitle</a></li>

                                                    @foreach(var subInSubpg in Model)
                                                    {
                                                        if (subInSubpg.ParentId == subpg.Id)
                                                        {
                                                            <li><a href="/category/@subInSubpg.Id">@subInSubpg.CategoryTitle</a></li>

                                                        }
                                                    }
                                                }

                                            }  
                                        </ul>
                                    </li>
                                }
                            }
                        }
                       

                    </ul>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index-1.html">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">وبلاگ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">پرسش های متداول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
            </ul>
        </div>
    </div>
</div>

