@model IEnumerable<EShop.Application.ViewModels.Order.OrderVM>;
@using EShop.Application.Convertors;

@{
    ViewData["Title"] = "لیست سفارش ها";
}

<main class="page-content">
    <div class="container">
        <div class="row">
            <partial name="_Bar" />
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="ui-box bg-white">
                    <div class="ui-box-title">تاریخچه سفارشات</div>
                    <div class="ui-box-content">

                        <!-- start of tab-content -->
                        <div class="tab-content" id="myTabContent">



                            <!-- start of tab-pane -->
                            <div class="tab-pane fade show active" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
                                <div class="user-order-items">

                                    @foreach (var item in Model)
                                    {
                                        <div class="user-order-item">
                                            <div class="user-order-item-header">
                                                <div class="mb-3">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                            <span class="user-order-meta fa-num"> @FixedText.FixDateToShamsi(item.CreateDate) </span>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                            <span class="user-order-meta">DKC-233189114</span>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                            @if (item.IsFinaly == true)
                                                            {
                                                                <span class="user-order-meta text-success"> پرداخت شده </span>
                                                            }
                                                            else
                                                            {
                                                                if (item.Wallet != null)
                                                                {
                                                                    <span class="user-order-meta text-danger"> پرداخت ناموفق </span>

                                                                }else{
                                                                    <span class="user-order-meta text-warning"> درانتظار پرداخت </span>
                                                                }
                                                                

                                                            }
                                                        </div>
                                                        @if (item.IsFinaly == false)
                                                        {


                                                            if (item.Wallet != null)
                                                            {
                                                                <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                                    <a href="/repayment/@item.Wallet.Id" class="btn btn-primary"> پرداخت مجدد </a>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                                    <a href="/payment" class="btn btn-primary"> همین الان پرداخت کن </a>
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="text-muted fw-bold">مبلغ کل:</span>
                                                    <span class="fw-bold fa-num">
                                                        @FixedText.MoenyFormatter((double)item.OrderSum)
                                                        <span>تومان</span>
                                                    </span>
                                                </div>
                                                @if (item.IsFinaly)
                                                {
                                                    <div>
                                                        <span class="text-muted fw-bold">مبلغ پرداخت شده:</span>
                                                        <span class="fw-bold fa-num">
                                                            @FixedText.MoenyFormatter((double)item.AmountPaid)
                                                            <span>تومان</span>
                                                        </span>
                                                    </div>
                                                }else{

                                                }
                                                <a href="/userpanel/order/order-details/@item.Id" class="btn btn-link fw-bold user-order-detail-link">
                                                    جزئیات
                                                    سفارش <i class="ri-arrow-left-s-fill"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    @*            <div class="user-order-item">
                                    <div class="user-order-item-header">
                                    <div class="mb-3">
                                    <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                    <span class="user-order-meta fa-num">23 آبان 1400</span>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                    <span class="user-order-meta">DKC-233189114</span>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                    <span class="user-order-meta">سفارش لغو شده</span>
                                    </div>
                                    </div>
                                    </div>
                                    <div>
                                    <span class="text-muted fw-bold">مبلغ کل:</span>
                                    <span class="fw-bold fa-num">
                                    ۴۲,۴۱۵,۰۰۰
                                    <span>تومان</span>
                                    </span>
                                    </div>
                                    <a href="#" class="btn btn-link fw-bold user-order-detail-link">
                                    جزئیات
                                    سفارش <i class="ri-arrow-left-s-fill"></i>
                                    </a>
                                    </div>
                                    <div class="user-order-item-content">
                                    <div class="mb-3">
                                    <span class="text-dark fa-num">مرسوله 1 از 1</span>
                                    </div>
                                    <div class="user-order-item-products">
                                    <a href="#">
                                    <img src="./theme-assets/images/carts/01.jpg" alt="">
                                    </a>
                                    <a href="#">
                                    <img src="./theme-assets/images/carts/02.jpg" alt="">
                                    </a>
                                    <a href="#">
                                    <img src="./theme-assets/images/carts/03.jpg" alt="">
                                    </a>
                                    </div>
                                    <div class="mb-3">
                                    <span class="text-dark fa-num">مرسوله 1 از 1</span>
                                    </div>
                                    <div class="user-order-item-products">
                                    <a href="#">
                                    <img src="./theme-assets/images/carts/01.jpg" alt="">
                                    </a>
                                    <a href="#">
                                    <img src="./theme-assets/images/carts/02.jpg" alt="">
                                    </a>
                                    <a href="#">
                                    <img src="./theme-assets/images/carts/03.jpg" alt="">
                                    </a>
                                    </div>
                                    </div>
                                    </div> *@
                                </div>
                            </div>
                            <!-- end of tab-pane -->
                        </div>
                        <!-- end of tab-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

