@* @model EShop.Application.ViewModels.User.EditUserViewModel

<div class="modal-body">
    <form asp-controller="User" asp-action="EditUser" method="post">
        <div class="form-title">
            اطلاعات کاربر
        </div>

        <div class="form-group">
            <label>نام:</label>
            <span class="input-icon icon-right">
               
                <input asp-for="Name" type="text" class="form-control" id="namelInput" placeholder="نام">
                <i class="fa fa-envelope-o circular"></i>
            </span>
        </div>
        <div class="form-group">
            <label>نام خانوداگی:</label>
            <span class="input-icon icon-right">
                <input asp-for="Family" type="text" class="form-control" id="familyInput" placeholder="نام خانوادگی">
                <i class="fa fa-envelope-o circular"></i>
            </span>
        </div> <div class="form-group">
            <label>ایمیل:</label>
            <span class="input-icon icon-right">
                <input asp-for=Email type="email" class="form-control" id="emailInput" placeholder="ایمیل">
                <i class="fa fa-envelope-o circular"></i>
            </span>
        </div>
        <div class="form-group">
            <label>رمز عبور:</label>
            <span class="input-icon icon-right">
                <input asp-for="Password" type="password" class="form-control" id="passwordInput" placeholder="رمز عبور">
                <i class="fa fa-lock circular"></i>
            </span>
        </div>
       <div class="form-group">
            <span class="input-icon icon-right">
                <input type="file" class="form-control" id="confirmPasswordInput">
                <i class="fa fa-box circular"></i>
            </span>
        </div>

    </form>
</div>

 *@
@model EShop.Application.ViewModels.User.EditUserViewModel

<div class="col-12">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-blue">
            <span class="widget-caption">افزودن کاربر</span>
        </div>

        <form asp-controller="User" asp-action="EditUser" method="post">

            <div class="form-title">
                اطلاعات کاربر
            </div>

            <div class="col-lg-9 col-sm-9 col-xs-12">
                <div class="widget flat radius-bordered">

                    <div class="widget-body">
                        <div id="registration-form">



                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input asp-for="Name" type="text" class="form-control" id="namelInput" placeholder="نام">
                                    <i class="fa fa-envelope-o circular"></i>
                                </span>
                                <span class="text-danger py-2" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input asp-for="Family" type="text" class="form-control" id="familyInput" placeholder="نام خانوادگی">
                                    <i class="fa fa-envelope-o circular"></i>
                                </span>
                                <span class="text-danger py-2" asp-validation-for="Family"></span>
                            </div>
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input asp-for="Email" type="email" class="form-control" id="emailInput" placeholder="ایمیل">
                                    <i class="fa fa-envelope-o circular"></i>
                                </span>
                                <span class="text-danger py-2" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input asp-for="Password" type="password" class="form-control" id="passwordInput" placeholder="رمز عبور">
                                    <i class="fa fa-lock circular"></i>
                                </span>
                                <span class="text-danger py-2" asp-validation-for="Password"></span>
                            </div>
                       

                            <button type="submit" class="btn btn-danger">افزودن</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-3">
                <img class="w-full" src="~/images/avatar/default.png" />
                <div class="form-group">
                    <label>
                        آواتار
                        <input type="file" name="myImage" accept="image/png, image/gif, image/jpeg" />
                    </label>
                </div>
            </div>




        </form>
    </div>

</div>

@section FooterReferences{
    <script>

    </script>
}