@model List<EShop.Application.ViewModels.Ticket.TicketVM>
@using EShop.Application.Convertors
@{
    ViewData["Title"] = "تیکت های من";
}

<main class="page-content">
    <div class="container">
        <div class="row mb-5">
            <partial name="_Bar" />

            <div class="col-xl-9 col-lg-8 col-md-7">

                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title align-items-center justify-content-between">
                        تیکتهای شما
                        <a asp-action="CreateTicket" asp-controller="Ticket" asp-area="UserPanel" class="btn btn-outline-light">تیکت جدید <i class="ri-add-line ms-2"></i></a>
                    </div>
                    <!-- <div class="ui-box-empty-content">
                        <div class="ui-box-empty-content-icon">
                            <img src="./theme-assets/images/theme/orders.svg" alt="">
                        </div>
                        <div class="ui-box-empty-content-message">تیکتی تا به الان ایجاد نکرده اید.
                        </div>
                    </div> -->
                    <div class="ui-box-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>زمان ایجاد</th>
                                        @* <th>بخش</th> *@
                                        <th>موضوع</th>
                                        <th>وضعیت</th>
                                        <th>آخرین بروزرسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var item = 0; item < Model.Count(); item++)
                                    {
                                        <tr>
                                            <td class="fa-num">@(item + 1)</td>
                                            <td class="fa-num">@FixedText.FixDateToShamsi(Model[item].CreateDate)</td>
                                            @* <td class="fa-num">پشتیبانی</td> *@
                                            <td class="fa-num">@Model[item].Title</td>
                                            <td class="fa-num">
                                                @if (Model[item].Closed == true)
                                                {
                                                    <span class="badge bg-danger rounded-pill">
                                                        بسته
                                                    </span>
                                                }
                                                else
                                                {
                                                    @if (Model[item].Pending == true && Model[item].Answered == false)
                                                    {
                                                        <span class="badge bg-warning rounded-pill">
                                                            درحال بررسی
                                                        </span>
                                                    }
                                                    else if (Model[item].Pending == true && Model[item].Answered == true)
                                                    {
                                                        <span class="badge bg-success rounded-pill">
                                                            پاسخ داده شده
                                                        </span>
                                                    }
                                                }

                                            </td>
                                            <td class="fa-num">1400 دی 26</td>
                                            <td>

                                                <a asp-action="TicketDetail" asp-controller="Ticket" asp-area="UserPanel" asp-route-id="@Model[item].Id" class="btn btn-circle btn-info my-1"><i class="ri-eye-line"></i></a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

