            <!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <!-- users -->
        <li class="">
            <a class="menu-dropdown" asp-area="Admin" asp-controller="User" asp-action="Index">
                <i class="menu-icon fa fa-bar-chart-o"></i>
                <span class="menu-text">مدیریت کاربران</span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a asp-area="Admin" asp-controller="User" asp-action="Index">
                        <span class="menu-text">لیست کاربران</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="User" asp-action="AddUser">
                        <span class="menu-text">افزودن کاربر</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a class="menu-dropdown" asp-area="Admin" asp-controller="Product" asp-action="Index">
                <i class="menu-icon fa fa-bar-chart-o"></i>
                <span class="menu-text">مدیریت محصولات</span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                        <span class="menu-text">لیست محصولات</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="AddProduct">
                        <span class="menu-text">افزودن محصول</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Discount" asp-action="Index">
                        <span class="menu-text">لیست کد های تخفیف</span>
                    </a>
                </li> <li>
                    <a asp-area="Admin" asp-controller="Discount" asp-action="AddDiscount">
                        <span class="menu-text">افزودن کد تخفیف</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="">
            <a class="menu-dropdown" asp-area="Admin" asp-controller="ProductCategory" asp-action="Index">
                <i class="menu-icon fa fa-bar-chart-o"></i>
                <span class="menu-text">مدیریت گروه محصولات</span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a asp-area="Admin" asp-controller="ProductCategory" asp-action="Index">
                        <span class="menu-text">لیست گروه ها</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="ProductCategory" asp-action="Add">
                        <span class="menu-text">افزودن گروه</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-envelope-o"></i>
                <span class="menu-text"> پرسش و پاسخ</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu" style="display: none;">
                <li>
                    <a href="/admin/contactus">
                        <span class="menu-text">همه پیام ها</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="">
                        <span class="menu-text">خوانده نشده</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->
