@model EShop.Application.ViewModels.UserViewModel;
@using EShop.Application.Security;

@* <div style="direction: rtl; padding: 20px">
    <h2>@Model.FirstName @Model.LastName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در یکتا کالا ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44342/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div> *@

<div style="direction: rtl; padding: 20px">
    <h2>@Model.FirstName @Model.LastName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در یکتا کالا </p>
    <p>
        <a href="https://localhost:44342/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>
