@model EShop.Application.ViewModels.UserViewModel;


@* <div style="direction: rtl; padding: 20px">
    <h2>@Model.FirstName @Model.LastName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در یکتا کالا ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44342/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div> *@

<div style="direction: rtl; padding: 20px">
    <h2>بازیابی کلمه عبور</h2>
 
    <p>
        <a href="https://localhost:44342/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>