@model EShop.Application.ViewModels.Product.AddProductViewModel




<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن محصول جدید</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row ">
    <form asp-action="AddProduct" id="addProductForm" method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    اطلاعات محصول
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>نام محصول </label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>تگ ها</label>
                        <input asp-for="Tag" type="text" class="form-control">
                        <span asp-validation-for="Tag" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>تعداد</label>
                        <input asp-for="Count" type="number" class="form-control">
                        <span asp-validation-for="Count" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات</label>
                        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-select" aria-label="Default select example">
                            <option value="" selected>دسته بندی را انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger py-2"></span>
                    </div>

                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        تصویر اصلی محصول
                    </div>
                    <!-- /.panel-heading -->

                    <div class="panel-body ">
                        <div class="w-50 h-50 overflow-hidden "> <img id="imgAvatar" class="img-thumbnail w-full h-full" src="/images/avatar/default.png" /></div>
                        <div class="form-group">
                            <label>انتخاب تصویر اصلی</label>
                            <input type="file" asp-for="Image">
                            <span class="text-danger py-2"></span>
                        </div>
                    </div>


                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        تصاویر محصول
                    </div>
                    <!-- /.panel-heading -->

                    <div class="panel-body ">
                        <div class="w-50 h-50 overflow-hidden "> <img id="imgAvatar" class="img-thumbnail w-full h-full" src="/images/avatar/default.png" /></div>
                        <div class="form-group">
                            <label>انتخاب تصاویر</label>
                            <input type="file" multiple id="fileInput" name="galleryInput">
                            <span class="text-danger py-2"></span>
                        </div>
                    </div>


                    <!-- /.panel-body -->
                </div>
            </div>

        </div>
        <div class="col-md-12 hidden" id="image-gallery-container">
            <h2>عکس محصولات انتخاب شده</h2>
            <div class="image-gallery-custom ">
                
            </div>
        </div>
    </form>
</div>




@section FooterReferences
    {
    <partial name="_ClientSideValidationScripts" />
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Avatar").change(function () {
            readURL(this);
        });

        let imagesFile = []
        $('#fileInput').change(function () {



            $('#image-gallery-container').removeClass('hidden');

            // Clear any existing images
            $('.image-gallery-custom').empty();

            // Get the uploaded files
            var files = $(this)[0].files;
          

            // Loop through each file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (!imagesFile.includes(file)) {
                    imagesFile.push(file)
                    // Create a new div element
                    var div = $('<div>').addClass('image-container-custom');

                    // Create a new image element
                    var img = $('<img>').addClass('img-custom');

                    // Set the source of the image element to the file object URL
                    img.attr('src', URL.createObjectURL(file));

                    // Append the image to the div
                    div.append(img);

                    // Append the div to the image container
                    $('.image-gallery-custom').append(div);

                    console.log(imagesFile)
                }
            
                
             
            }
        });
    </script>
}
