@model EShop.Application.ViewModels.Product.EditProductViewModel
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header p-3">ویرایش محصول </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form asp-action="EditProduct" method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    اطلاعات محصول
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>نام محصول </label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>تگ ها</label>
                        <input asp-for="Tag" type="text" class="form-control">
                        <span asp-validation-for="Tag" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>تعداد</label>
                        <input asp-for="Count" type="number" class="form-control">
                        <span asp-validation-for="Count" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات</label>
                        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger py-2"></span>
                    </div>  
                    <div class="form-group">
                        <label>توضیحات</label>
                        <textarea asp-for="Features" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span asp-validation-for="Features" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>دسته بندی  :</label>
                        <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-select" aria-label="Default select example">
                            <option value="" selected>دسته بندی را انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger py-2"></span>
                    </div>
                    <div class="form-group">
                        <label>کد تخفیف :</label>
                        <select asp-for="DiscountId" asp-items="ViewBag.discounts" class="form-select" aria-label="Default select example">
                            <option value="" selected>کد تخفیف را انتخاب کنید.</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger py-2"></span>
                    </div>

                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    تصویر محصول
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body ">
                    <div class="w-50 h-50 overflow-hidden "> <img id="imgAvatar" class="img-thumbnail w-full h-full" src="/images/ProductImages/@Model.ImageName" /></div>
                    <div class="form-group">
                        <label>انتخاب تصویر</label>
                        <input type="file" asp-for="Image">
                        <span class="text-danger py-2"></span>
                    </div>
                </div>



                <!-- /.panel-body -->
            </div>

        </div>

        <div class="col-md-8">
            @{
                if (Model.ProductGalleryImages != null)
                {
                    <div class="" id="image-gallery-container">
                        <h2>عکس های محصول</h2>
                        <div class="image-gallery-custom ">
                            @{
                                if (Model.ProductGalleryImages != null)
                                {
                                    foreach (var pg in Model.ProductGalleryImages)
                                    {
                                        <div class="image-container-custom" id="@pg.Id">
                                            <img class="img-custom" src="/images//ProductImages/@pg.ProductImageUrl">
                                            <div class="image-custom-overlay">
                                                <i class="fa fa-close img-close-symbol" onclick="DeleteProductGallery('@pg.Id')"></i>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                }
            }

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    افزودن تصویر جدید
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body ">
                    <div class="w-50 h-50 overflow-hidden "> <img id="imgAvatar" class="img-thumbnail w-full h-full" src="/images/avatar/default.png" /></div>
                    <div class="form-group">
                        <label>انتخاب تصاویر</label>
                        <input asp-for="ProductGalleryImagesFile" type="file" multiple>
                        <span class="text-danger py-2"></span>
                    </div>
                </div>


                <!-- /.panel-body -->
            </div>
        </div>




    </form>
</div>




@section FooterReferences
    {
    <partial name="_ClientSideValidationScripts" />
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Image").change(function () {
            readURL(this);
        });


        function DeleteProductGallery(id) {
            Swal.fire({
                title: `آیا از حذف این عکس اطمینان دارید؟`,

                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: "حذف",
                cancelButtonText: "خیر"

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: `/Admin/Product/DeleteProductGallery/${id}`,
                        success: function (response) {
                            if (response.status == "success") {
                                document.getElementById(id).remove()
                            }
                        },

                    });
                }
            })
        }



    </script>
}
