@model EShop.Application.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_AuthenticationLayout";
}
<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">تغییر رمز عبور</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            @if (ViewBag.IsSuccess != null)
            {
                <div class="alert alert-success">
                    <p class="help-block">تغییر رمز عبور موفقییت آمیز</p>
                    <p class="help-block">لطفا چند لحظه صبر کنید</p>
                </div>

                <script>
                    // Your delay in milliseconds
                    var delay = 3000;
                    setTimeout(function () { window.location = "https://localhost:44342/Login"; }, delay);
                </script>
            }
            <!-- start of auth-form -->
            <form asp-action="ChangePassword" method="post" class="auth-form">
                <!-- start of form-element -->
           
                <div class="form-element-row mb-5">
                    <input asp-for=Password type="password" class="form-control" placeholder="رمز عبور">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input asp-for=RepeatPassword type="password" class="form-control" placeholder="تکرار رمز عبور">
                    <span asp-validation-for="RepeatPassword"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input   asp-for="Email" type="text" class="form-control" hidden>

                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button class="btn btn-primary">تایید</button>
                </div>
                <!-- end of form-element -->

            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>


