@model EShop.Application.ViewModels.Account.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthenticationLayout";
}
<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3"><span>بازیابی کلمه عبور</span></div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            @if (ViewBag.IsSended != null)
            {
                <div class="alert alert-success">
                    <p class="help-block">ایمیلی حاوی بازیابی کلمه عبور به شما ارسال شد</p>
               
                </div>

             
            }
            <!-- start of auth-form -->
            <form asp-action="ForgotPassword" method="post" class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input asp-for=Email type="text" class="form-control" placeholder="ایمیل">
                    <span asp-validation-for="Email"></span>
                </div>
         
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button class="btn btn-success">تایید</button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
           
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>


