@model EShop.Application.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthenticationLayout";
}
<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3"><span>ورود</span> / <span class=""><a href="/Register" class="text-decoration-none">ثبت نام</a></span></div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">

            @if (ViewBag.IsActive == true)
            {
                <div class="alert alert-success">

                    <p class="help-block">عملیات فعالسازی حساب کاربری باموفقییت انجام شد</p>
                    <p class="help-block">اکتون میتوانیدواردحساب کاربری خود شوید</p>
                </div>
            }

            @if (ViewBag.IsSuccess != null)
            {
                ViewBag.IsActive = false;
                <div class="alert alert-success">
                    <p class="help-block">ورود موفقییت آمیز</p>
                    <p class="help-block">لطفا چند لحظه صبر کنید</p>
                </div>

                <script>
                    // Your delay in milliseconds
                    var delay = 3000;
                    setTimeout(function () { window.location = "https://localhost:44342"; }, delay);
                </script>
            }
            <!-- start of auth-form -->
            <form asp-action="Login" method="post" class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input asp-for=Email type="text" class="form-control" placeholder="ایمیل">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input asp-for=Password type="password" class="form-control" placeholder="رمز عبور">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-element-row mb-5">
                   <a href="/ForgotPassword" class="text-decoration-none">رمزخودرافراموش کرده ام</a>
                </div>

                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button class="btn btn-primary">ادامه</button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                            شرایط و
                            قوانین
                        </a> استفاده
                        از تمام سرویس های
                        سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>

