@model EShop.Application.ViewModels.Account.RegisterViewModel;
@{
    ViewData["Title"] = "ثیت نام";
    Layout = "_AuthenticationLayout";
}
<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">ورود / ثبت نام</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form asp-action="Register" method="post" class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input type="text" asp-for=Email class="form-control" placeholder="ایمیل">
                </div>
                <div class="form-element-row mb-5">
                    <input type="text" asp-for=FirstName class="form-control" placeholder="نام">
                </div>
                <div class="form-element-row mb-5">
                    <input type="text" asp-for=LastName class="form-control" placeholder="نام خانوادگی">
                </div>
                <div class="form-element-row mb-5">
                    <input type="password" asp-for=Password class="form-control" placeholder="رمز عبور">
                </div>
                <div class="form-element-row mb-5">
                    <input type="password" asp-for=RepeatPassword class="form-control" placeholder="تکرار رمز عبور">
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button class="btn btn-primary">ادامه</button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                            شرایط و
                            قوانین
                        </a> استفاده
                        از تمام سرویس های
                        سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>