@model EShop.Application.ViewModels.Comment.AddCommentViewModel
@using System.Security.Claims

<main class="page-content">
    <div class="container">
        <!-- start of breadcrumb -->
        <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">کالای دیجیتال</a></li>
                <li class="breadcrumb-item"><a href="#">موبایل</a></li>
                <li class="breadcrumb-item"><a href="#">گوشی موبایل</a></li>
            </ol>
        </nav>
        <!-- end of breadcrumb -->
        <!-- start of box -->
        <div class="ui-box bg-white product-detail-container mb-5">
            <div class="ui-box-content">
                <div class="row mb-3">
                    <div class="col-lg-4 mb-lg-0 mb-4">
                        <!-- start of product-gallery -->
                        <div class="product-gallery">
                            <div class="gallery-img-container">
                                <div class="gallery-img">
                                    <img src="/images/ProductImages/@ViewBag.product.ImageName" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- end of product-gallery -->
                    </div>
                    <div class="col-lg-8 mb-4">
                        <!-- start of product-detail -->
                        <h2 class="product-title">
                           @ViewBag.product.Title
                        </h2>
                     
                        <!-- start of comments-product-attributes -->

                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-md-0 mb-4">
                            <form asp-action="AddComment"  method="post" class="add-comment-product">

                                <input hidden asp-for="UserId" value="@int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))" />
                                

                                <!-- start of form-element -->
                                <div class="form-element-row mb-3">
                                    <label class="label">متن نظر شما (اجباری)</label>
                                    <textarea asp-for="Message" rows="5" class="form-control" placeholder="متن نظر خود را بنویسید.."></textarea>
                                </div>
                                <!-- end of form-element -->
                                <div class="text-end mb-3">
                                    <button class="btn btn-primary">ثبت نظر <i class="ri-send-plane-fill ms-2"></i></button>
                                </div>
                            </form>
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="my-2">
                                    با “ثبت نظر” موافقت خود را با <a href="#" class="link">قوانین انتشار نظرات</a>
                                    در سایت اعلام می&zwnj;کنم.
                                </div>
                                <div class="my-2">
                                    <a href="#" class="link">انصراف و بازگشت</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="fs-5 fw-bold text-dark mb-3">
                                دیگران را با نوشتن نظرات خود، برای انتخاب این محصول راهنمایی کنید.
                            </div>
                            <div class="fs-7 fw-bold text-info mb-3">
                                لطفا پیش از ارسال نظر، خلاصه قوانین زیر را مطالعه کنید:
                            </div>
                            <ul class="ps-4 text-secondary">
                                <li class="mb-3">
                                    لازم است محتوای ارسالی منطبق برعرف و شئونات جامعه و با بیانی رسمی و
                                    عاری از لحن
                                    تند، تمسخرو توهین باشد.
                                </li>
                                <li class="mb-3">
                                    از ارسال لینک&zwnj;های سایت&zwnj;های دیگر و ارایه&zwnj;ی اطلاعات شخصی خودتان مثل
                                    شماره تماس،
                                    ایمیل و آی&zwnj;دی شبکه&zwnj;های اجتماعی پرهیز کنید.
                                </li>
                                <li class="mb-3">
                                    در نظر داشته باشید هدف نهایی از ارائه&zwnj;ی نظر درباره&zwnj;ی کالا ارائه&zwnj;ی
                                    اطلاعات مشخص و
                                    دقیق برای راهنمایی سایر کاربران در فرآیند خرید یک محصول توسط ایشان است.
                                </li>
                                <li class="mb-3">
                                    با توجه به ساختار بخش نظرات، از پرسیدن سوال یا درخواست راهنمایی در
                                    این بخش
                                    خودداری کرده و سوالات خود را در بخش «پرسش و پاسخ» مطرح کنید.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of box -->
        </div>
</main>