@model EShop.Application.ViewModels.User.UserPanel.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}
<main class="page-content">
    <div class="container">
        <div class="row mb-5">
            <partial name="_Bar" />
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">ویرایش حساب کاربری</div>
                    @*    <div class="ui-box-subtitle">
                    فرم زیر را پر کنید (توضیحات کامل تر روند پاسخ دهی را کوتاه تر
                    می
                    کند.)
                    </div> *@
                    <div class="ui-box-content" data-select2-id="select2-data-8-si85">
                            <form asp-action="ChangePassword" method="post" class="add-ticket-form" data-select2-id="select2-data-7-i3w9" >
                          

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- start of form-element -->
                                    <div class="form-element-row mb-5">
                                        <label class="label">رمز عبور فعلی</label>
                                        <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="">
                                    </div>
                                    <span asp-validation-for="CurrentPassword"></span>
                                    <!-- end of form-element -->
                                </div>

                              
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- start of form-element -->
                                    <div class="form-element-row mb-5">
                                        <label class="label">رمز عبور</label>
                                        <input type="text" asp-for="Password" class="form-control" placeholder="">
                                    </div>
                                    <span asp-validation-for="Password"></span>

                                    <!-- end of form-element -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- start of form-element -->
                                    <div class="form-element-row mb-5">
                                        <label class="label">رمز عبور</label>
                                        <input type="text" asp-for="RepeatPassword" class="form-control" placeholder="">
                                    </div>
                                    <span asp-validation-for="RepeatPassword"></span>

                                    <!-- end of form-element -->
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <button class="btn btn-success"> تایید </button>
                                </div>
                            </div>

                            </form>
                    </div>


                </div>
            </div>
        </div>
</main>


