@model EShop.Application.ViewModels.UserViewModel;
@using EShop.Application.Convertors;





<main class="page-content">
    <div class="container">
        <div class="row mb-5">
            <partial name="_Bar" />


            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
                    <div>
                        سفارش شما در انتظار پرداخت است. برای جلوگیری از لغو سفارش، لطفا پرداخت را انجام دهید.
                        <a href="#" class="btn btn-sm btn-primary mx-3">سفارش های من</a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">اطلاعات شخصی</div>
                    <div class="ui-box-content">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">نام و نام خانوادگی</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-fullname-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div class="fs-6 fw-bold text-muted">@Model.FirstName @Model.LastName</div>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">پست الکترونیک</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-email-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div class="fs-6 fw-bold text-muted">@Model.Email</div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="border-bottom py-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs-7 fw-bold text-dark">تاریخ عضویت</div>
                                        <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-birth-modal"><i class="ri-ball-pen-fill"></i></button>
                                    </div>
                                    <div class="fs-6 fw-bold text-muted">@FixedText.FixDateToShamsi(Model.CreateDate)</div>
                                </div>
                            </div>
                            @*  <div class="col-lg-6 mb-3">
                            <div class="border-bottom py-2">
                            <div class="d-flex align-items-center justify-content-between">
                            <div class="fs-7 fw-bold text-dark">روش بازگرداندن وجه</div>
                            <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-returned-modal"><i class="ri-ball-pen-fill"></i></button>
                            </div>
                            <div class="fs-6 fw-bold text-muted">-</div>
                            </div>
                            </div> *@
                            @*   <div class="col-lg-6 mb-3">
                            <div class="border-bottom py-2">
                            <div class="d-flex align-items-center justify-content-between">
                            <div class="fs-7 fw-bold text-dark">رمز عبور</div>
                            <button class="btn btn-circle btn-outline-light" data-remodal-target="personal-info-change-password-modal"><i class="ri-ball-pen-fill"></i></button>
                            </div>
                            <div class="fs-6 fw-bold text-muted">-</div>
                            </div>
                            </div> *@
                        </div>
                    </div>

                    <div class="row">
                        <a href="/UserPanel/EditProfile" class="btn btn-primary col-4">ویرایش اطلاعات کاربری</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- start of remove-from-favorite-modal -->
    <div class="remodal remodal-xs" data-remodal-id="remove-from-favorite-modal"
         data-remodal-options="hashTracking: false">
        <div class="remodal-header">
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <div class="remodal-content">
            <div class="text-muted fs-7 fw-bold mb-3">
                آیا مطمئنید که این محصول از لیست مورد علاقه شما حذف شود؟
            </div>
        </div>
        <div class="remodal-footer">
            <button data-remodal-action="cancel" class="btn btn-sm btn-outline-light px-3 me-2">خیر</button>
            <button class="btn btn-sm btn-primary px-3">بله</button>
        </div>
    </div>
    <!-- end of remove-from-favorite-modal -->
</main>



<!-- start of remove-from-favorite-modal -->
<!-- end of remove-from-favorite-modal -->
