@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="mail-container">
  
    <div class="mail-body">
        <ul class="mail-list">
            
            <li class="list-item unread">
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
            
                <div class="item-sender">
                    <a href="message-view.html" class="col-name">Facebook</a>
                </div>
                <div class="item-subject">
                    <a href="message-view.html">
                        Action Required: Confirm Your Facebook Account
                    </a>
                </div>
            
                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
          
 
            <li class="list-item unread">
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
               
                <div class="item-sender">
                    <a href="message-view.html" class="col-name">La Liga</a>
                </div>
                <div class="item-subject">
                    <a href="message-view.html">
                        All goals Matchday 38 Liga BBVA
                    </a>
                </div>
               
                <div class="item-time">
                    11 May, 13:52
                </div>
            </li>
        
        </ul>
    </div>
    <div class="mail-sidebar">
        <ul class="mail-menu">
            <li class="active">
                <a href="#">
                    <i class="fa fa-inbox m-1"></i>
                    <span class="badge badge-default badge-square pull-right ">6</span>
                  صندوق پیام ها
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-star"></i>
                    <span class="badge badge-default badge-square pull-right">1</span>
                  خوانده نشده
                </a>
            </li>
     

       
            
         
        </ul>
  
    </div>
</div>
